#root {
  text-align: left;
  background-color: rgb(255, 255, 191);
}

.card {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}

.header{
  display: flex;
  background-color: rgb(255, 255, 52);
  width: 100%;
  justify-content: space-evenly;
}

.header h3{
  color: #000;
  text-decoration: none;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
